*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.book-container{
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.none{
    text-align: center;
    padding: 30px;
}
.table-card{
    display: flex;
    gap: 8px;
}
.table-link, .card-link{
    background-color:  rgb(124, 203, 249);
    text-decoration: none;
    color: black;
    padding: 8px 15px;
    border-radius: 4px;
}
tr{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}
.numbers{
    width: 60px;
    text-align: center;
}
th,td{
    width: 255px;
    border: solid 1px;
    border-radius: 7px;
    text-align: center;
    padding: 3px 0px;
}
th{
    margin-bottom: 4px;
}
.list-add{
    display: flex;
    justify-content: space-around;
    gap: 1000px;
}
tbody{
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.list{
    font-size: 22px;
}
