*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.create-container{
    display: flex;
    flex-direction: column;
}
.back{
    color: white;
    background-color: rgb(13, 13, 95);
    font-size: 18px;
    border-radius: 4px;
    padding: 3px 12px;
    margin: 20px 0px 0px 20px;
    cursor: pointer;
}
.create-card{
    display: flex;
    justify-content: center;
    align-items: center;
}
.cret{
    font-size: 22px;
    margin: 15px 0px 0px 20px;
}
.lbl-input{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.lbl-input label{
    color: gray;
    font-size: 17px;
}
.lbl-input input{
    border: solid 1px rgb(181, 182, 183);
    font-size: 15px;
    padding: 6px;
}
.create-card form{
    width: 500px;
    display: flex;
    flex-direction: column;
    gap: 25px;
  
    align-items: center;
    border: solid 1px rgb(124, 203, 249);
    padding: 30px 15px;
    border-radius: 5px;
}
.create-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:  rgb(124, 203, 249);
   
    font-size: 16px;
    border: none;
    width: 430px;
    padding: 5px;
    cursor: pointer;
}